
<% if ood_interface == "pluto" -%>

<div>
    <button class="btn btn-primary" onclick=" window.open('/rnode/<%= host %>/<%= port %>/?secret=<%= password %>','_blank')"> Connect to Pluto.jl Server</button>
</div>

<% elsif ood_interface == "code-server" -%>

<form action="/rnode/<%= host %>/<%= port %>/login?to=" method="post" target="_blank">
    <input type="hidden" name="password" value="<%= password %>">
    <button class="btn btn-primary" type="submit">
        <i class="fa fa-eye"></i> Connect to Code Server
    </button>
</form>

<% elsif ood_interface == "jupyter-lab" || ood_interface == "jupyter-notebook" -%>

<form action="/node/<%= host %>/<%= port %>/login" method="post" target="_blank">
    <input type="hidden" name="password" value="<%= password %>">
    <button class="btn btn-primary" type="submit">
        <i class="fa fa-eye"></i> Connect to Jupyter
    </button>
</form>

<% else -%>

    <h1><%= ood_interface %> is not a valid option!</h1>
    
<% end -%>
